In [5]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv(r"C:\Users\dnayu\OneDrive\ドキュメント\ev_charging_dataset.csv")

In [33]:
df

,Date_Time,Vehicle_ID,Battery_Capacity_kWh,State_of_Charge_%,Energy_Consumption_Rate_kWh/km,Current_Latitude,Current_Longitude,Destination_Latitude,Destination_Longitude,Distance_to_Destination_km,...,Precipitation_mm,Weekday,Charging_Preferences,Weather_Conditions,Charging_Load_kW,Hour,Day,Month,Year,Weekday_Name
0,2017-01-01 00:00:00,106,66.746483,50.216524,0.153521,32.777266,-96.788301,32.784014,-96.795776,30.531144,...,0.712211,1,0,Cloudy,30.839677,0,1,1,2017,Sunday
1,2017-01-01 01:00:00,106,82.731496,59.358609,0.119101,32.779136,-96.786137,32.778406,-96.798310,1.004305,...,2.746260,3,0,Cloudy,47.354691,1,1,1,2017,Sunday
2,2017-01-01 02:00:00,106,82.107913,14.460831,0.100000,32.769346,-96.802470,32.770487,-96.795953,5.289772,...,2.502156,4,1,Clear,44.459198,2,1,1,2017,Sunday
3,2017-01-01 03:00:00,106,95.526752,23.003923,0.286505,32.766093,-96.790229,32.765745,-96.818855,7.267380,...,1.796916,3,0,Clear,52.468801,3,1,1,2017,Sunday
4,2017-01-01 04:00:00,106,61.247597,9.064810,0.100000,32.796174,-96.782421,32.765489,-96.791241,32.449058,...,1.547112,2,0,Clear,53.473756,4,1,1,2017,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64940,2024-05-29 20:00:00,106,50.899422,18.216953,0.300000,32.799531,-96.795680,32.766233,-96.811552,4.634058,...,0.035821,3,0,Rain,32.846553,20,29,5,2024,Wednesday
64941,2024-05-29 21:00:00,106,76.359032,27.886230,0.300000,32.794361,-96.804072,32.753771,-96.811127,2.906375,...,0.077991,2,1,Clear,30.159492,21,29,5,2024,Wednesday
64942,2024-05-29 22:00:00,106,91.196039,75.789321,0.147468,32.773707,-96.814332,32.787991,-96.799459,8.536324,...,2.296269,4,0,Clear,40.606555,22,29,5,2024,Wednesday
64943,2024-05-29 23:00:00,106,44.456727,22.025078,0.100000,32.787691,-96.809078,32.777170,-96.810957,16.892437,...,1.576361,6,0,Cloudy,51.935833,23,29,5,2024,Wednesday
64944,2024-05-30 00:00:00,106,51.729264,31.517205,0.226319,32.773877,-96.798042,32.784138,-96.792329,17.217002,...,3.829446,6,0,Rain,61.355609,0,30,5,2024,Thursday

In [11]:
df.head()

,Date_Time,Vehicle_ID,Battery_Capacity_kWh,State_of_Charge_%,Energy_Consumption_Rate_kWh/km,Current_Latitude,Current_Longitude,Destination_Latitude,Destination_Longitude,Distance_to_Destination_km,...,Session_Start_Hour,Fleet_Size,Fleet_Schedule,Temperature_C,Wind_Speed_m/s,Precipitation_mm,Weekday,Charging_Preferences,Weather_Conditions,Charging_Load_kW
0,2017-01-01 00:00:00,106,66.746483,50.216524,0.153521,32.777266,-96.788301,32.784014,-96.795776,30.531144,...,6,10,0,13.954368,0.144765,0.712211,1,0,Cloudy,30.839677
1,2017-01-01 01:00:00,106,82.731496,59.358609,0.119101,32.779136,-96.786137,32.778406,-96.798310,1.004305,...,6,10,0,38.926466,0.461061,2.746260,3,0,Cloudy,47.354691
2,2017-01-01 02:00:00,106,82.107913,14.460831,0.100000,32.769346,-96.802470,32.770487,-96.795953,5.289772,...,6,50,0,22.164516,0.708376,2.502156,4,1,Clear,44.459198
3,2017-01-01 03:00:00,106,95.526752,23.003923,0.286505,32.766093,-96.790229,32.765745,-96.818855,7.267380,...,6,200,0,16.000845,1.591273,1.796916,3,0,Clear,52.468801
4,2017-01-01 04:00:00,106,61.247597,9.064810,0.100000,32.796174,-96.782421,32.765489,-96.791241,32.449058,...,6,10,1,23.170368,1.753500,1.547112,2,0,Clear,53.473756

In [13]:
df.describe()

,Vehicle_ID,Battery_Capacity_kWh,State_of_Charge_%,Energy_Consumption_Rate_kWh/km,Current_Latitude,Current_Longitude,Destination_Latitude,Destination_Longitude,Distance_to_Destination_km,Traffic_Data,...,Energy_Drawn_kWh,Session_Start_Hour,Fleet_Size,Fleet_Schedule,Temperature_C,Wind_Speed_m/s,Precipitation_mm,Weekday,Charging_Preferences,Charging_Load_kW
count,64945.0,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,...,64945.000000,64945.0,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000,64945.000000
mean,106.0,74.725734,28.480992,0.177172,32.776689,-96.797052,32.776679,-96.796963,14.953876,1.994857,...,39.966987,6.0,38.612672,0.101286,24.654049,2.003830,2.003267,2.788837,0.198506,39.984615
std,0.0,14.346408,15.939754,0.083414,0.010066,0.009974,0.010058,0.010005,14.791688,1.413148,...,10.007163,0.0,47.026317,0.301709,9.409490,2.002506,1.995306,1.884965,0.398879,9.993323
min,106.0,30.000000,0.099346,0.100000,32.735193,-96.838816,32.736378,-96.838453,1.000000,0.000000,...,0.000000,6.0,10.000000,0.000000,0.000000,0.000066,0.000009,0.000000,0.000000,0.000000
25%,106.0,64.935248,15.972907,0.100000,32.769904,-96.803747,32.769871,-96.803669,4.292956,1.000000,...,33.225937,6.0,10.000000,0.000000,18.140208,0.570939,0.579747,1.000000,0.000000,33.247724
50%,106.0,74.969499,26.420173,0.139555,32.776654,-96.796997,32.776708,-96.796971,10.356013,2.000000,...,39.957916,6.0,10.000000,0.000000,24.921663,1.382761,1.394821,3.000000,0.000000,40.027261
75%,106.0,85.134281,38.853891,0.278742,32.783478,-96.790258,32.783435,-96.790252,20.757014,3.000000,...,46.637083,6.0,50.000000,0.000000,31.751901,2.786245,2.778826,4.000000,0.000000,46.702958
max,106.0,100.000000,89.662865,0.300000,32.818232,-96.756526,32.822891,-96.750380,100.000000,11.000000,...,75.000000,6.0,200.000000,1.000000,40.000000,15.000000,21.262816,6.000000,1.000000,75.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64945 entries, 0 to 64944
Data columns (total 28 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date_Time                       64945 non-null  object
 1   Vehicle_ID                      64945 non-null  int64
 2   Battery_Capacity_kWh            64945 non-null  float64
 3   State_of_Charge_%               64945 non-null  float64
 4   Energy_Consumption_Rate_kWh/km  64945 non-null  float64
 5   Current_Latitude                64945 non-null  float64
 6   Current_Longitude               64945 non-null  float64
 7   Destination_Latitude            64945 non-null  float64
 8   Destination_Longitude           64945 non-null  float64
 9   Distance_to_Destination_km      64945 non-null  float64
 10  Traffic_Data                    64945 non-null  int64
 11  Road_Conditions                 64945 non-null  object
 12  Charging_Station_ID             64945 non-null  int64
 13  Charging_Rate_kW                64945 non-null  float64
 14  Queue_Time_mins                 64945 non-null  float64
 15  Station_Capacity_EV             64945 non-null  int64
 16  Time_Spent_Charging_mins        64945 non-null  float64
 17  Energy_Drawn_kWh                64945 non-null  float64
 18  Session_Start_Hour              64945 non-null  int64
 19  Fleet_Size                      64945 non-null  int64
 20  Fleet_Schedule                  64945 non-null  int64
 21  Temperature_C                   64945 non-null  float64
 22  Wind_Speed_m/s                  64945 non-null  float64
 23  Precipitation_mm                64945 non-null  float64
 24  Weekday                         64945 non-null  int64
 25  Charging_Preferences            64945 non-null  int64
 26  Weather_Conditions              64945 non-null  object
 27  Charging_Load_kW                64945 non-null  float64
dtypes: float64(16), int64(9), object(3)
memory usage: 13.9+ MB

In [35]:
df['Date_Time'] = pd.to_datetime(df['Date_Time'], errors='coerce')
df

,Date_Time,Vehicle_ID,Battery_Capacity_kWh,State_of_Charge_%,Energy_Consumption_Rate_kWh/km,Current_Latitude,Current_Longitude,Destination_Latitude,Destination_Longitude,Distance_to_Destination_km,...,Precipitation_mm,Weekday,Charging_Preferences,Weather_Conditions,Charging_Load_kW,Hour,Day,Month,Year,Weekday_Name
0,2017-01-01 00:00:00,106,66.746483,50.216524,0.153521,32.777266,-96.788301,32.784014,-96.795776,30.531144,...,0.712211,1,0,Cloudy,30.839677,0,1,1,2017,Sunday
1,2017-01-01 01:00:00,106,82.731496,59.358609,0.119101,32.779136,-96.786137,32.778406,-96.798310,1.004305,...,2.746260,3,0,Cloudy,47.354691,1,1,1,2017,Sunday
2,2017-01-01 02:00:00,106,82.107913,14.460831,0.100000,32.769346,-96.802470,32.770487,-96.795953,5.289772,...,2.502156,4,1,Clear,44.459198,2,1,1,2017,Sunday
3,2017-01-01 03:00:00,106,95.526752,23.003923,0.286505,32.766093,-96.790229,32.765745,-96.818855,7.267380,...,1.796916,3,0,Clear,52.468801,3,1,1,2017,Sunday
4,2017-01-01 04:00:00,106,61.247597,9.064810,0.100000,32.796174,-96.782421,32.765489,-96.791241,32.449058,...,1.547112,2,0,Clear,53.473756,4,1,1,2017,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64940,2024-05-29 20:00:00,106,50.899422,18.216953,0.300000,32.799531,-96.795680,32.766233,-96.811552,4.634058,...,0.035821,3,0,Rain,32.846553,20,29,5,2024,Wednesday
64941,2024-05-29 21:00:00,106,76.359032,27.886230,0.300000,32.794361,-96.804072,32.753771,-96.811127,2.906375,...,0.077991,2,1,Clear,30.159492,21,29,5,2024,Wednesday
64942,2024-05-29 22:00:00,106,91.196039,75.789321,0.147468,32.773707,-96.814332,32.787991,-96.799459,8.536324,...,2.296269,4,0,Clear,40.606555,22,29,5,2024,Wednesday
64943,2024-05-29 23:00:00,106,44.456727,22.025078,0.100000,32.787691,-96.809078,32.777170,-96.810957,16.892437,...,1.576361,6,0,Cloudy,51.935833,23,29,5,2024,Wednesday
64944,2024-05-30 00:00:00,106,51.729264,31.517205,0.226319,32.773877,-96.798042,32.784138,-96.792329,17.217002,...,3.829446,6,0,Rain,61.355609,0,30,5,2024,Thursday

In [19]:
df.drop_duplicates(inplace=True)

In [21]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna({
    'Charging_Load_kW': df['Charging_Load_kW'].median(),
    'Energy_Drawn_kWh': df['Energy_Drawn_kWh'].median(),
    'Queue_Time_mins': df['Queue_Time_mins'].median(),
    'Temperature_C': df['Temperature_C'].mean(),
    'Wind_Speed_m/s': df['Wind_Speed_m/s'].mean(),
    'Precipitation_mm': 0,
}, inplace=True)

In [23]:
df = df[
    (df['Charging_Load_kW'] >= 0) &
    (df['Energy_Drawn_kWh'] >= 0) &
    (df['State_of_Charge_%'].between(0, 100)) &
    (df['Battery_Capacity_kWh'] > 0)
]

In [25]:
df['Road_Conditions'] = df['Road_Conditions'].str.strip().str.title()
df['Weather_Conditions'] = df['Weather_Conditions'].str.strip().str.title()

In [27]:
df['Hour'] = df['Date_Time'].dt.hour
df['Day'] = df['Date_Time'].dt.day
df['Month'] = df['Date_Time'].dt.month
df['Year'] = df['Date_Time'].dt.year
df['Weekday_Name'] = df['Date_Time'].dt.day_name()

In [37]:
df.sort_values(by='Date_Time', inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Date_Time,Vehicle_ID,Battery_Capacity_kWh,State_of_Charge_%,Energy_Consumption_Rate_kWh/km,Current_Latitude,Current_Longitude,Destination_Latitude,Destination_Longitude,Distance_to_Destination_km,...,Precipitation_mm,Weekday,Charging_Preferences,Weather_Conditions,Charging_Load_kW,Hour,Day,Month,Year,Weekday_Name
0,2017-01-01 00:00:00,106,66.746483,50.216524,0.153521,32.777266,-96.788301,32.784014,-96.795776,30.531144,...,0.712211,1,0,Cloudy,30.839677,0,1,1,2017,Sunday
1,2017-01-01 01:00:00,106,82.731496,59.358609,0.119101,32.779136,-96.786137,32.778406,-96.798310,1.004305,...,2.746260,3,0,Cloudy,47.354691,1,1,1,2017,Sunday
2,2017-01-01 02:00:00,106,82.107913,14.460831,0.100000,32.769346,-96.802470,32.770487,-96.795953,5.289772,...,2.502156,4,1,Clear,44.459198,2,1,1,2017,Sunday
3,2017-01-01 03:00:00,106,95.526752,23.003923,0.286505,32.766093,-96.790229,32.765745,-96.818855,7.267380,...,1.796916,3,0,Clear,52.468801,3,1,1,2017,Sunday
4,2017-01-01 04:00:00,106,61.247597,9.064810,0.100000,32.796174,-96.782421,32.765489,-96.791241,32.449058,...,1.547112,2,0,Clear,53.473756,4,1,1,2017,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64940,2024-05-29 20:00:00,106,50.899422,18.216953,0.300000,32.799531,-96.795680,32.766233,-96.811552,4.634058,...,0.035821,3,0,Rain,32.846553,20,29,5,2024,Wednesday
64941,2024-05-29 21:00:00,106,76.359032,27.886230,0.300000,32.794361,-96.804072,32.753771,-96.811127,2.906375,...,0.077991,2,1,Clear,30.159492,21,29,5,2024,Wednesday
64942,2024-05-29 22:00:00,106,91.196039,75.789321,0.147468,32.773707,-96.814332,32.787991,-96.799459,8.536324,...,2.296269,4,0,Clear,40.606555,22,29,5,2024,Wednesday
64943,2024-05-29 23:00:00,106,44.456727,22.025078,0.100000,32.787691,-96.809078,32.777170,-96.810957,16.892437,...,1.576361,6,0,Cloudy,51.935833,23,29,5,2024,Wednesday
64944,2024-05-30 00:00:00,106,51.729264,31.517205,0.226319,32.773877,-96.798042,32.784138,-96.792329,17.217002,...,3.829446,6,0,Rain,61.355609,0,30,5,2024,Thursday

In [39]:
df.to_csv("cleaned_ev_charging_dataset.csv", index=False)

print("✅ Data cleaned successfully!")
print(f"Rows after cleaning: {len(df)}")
print("Saved as 'cleaned_ev_charging_dataset.csv'")

✅ Data cleaned successfully!
Rows after cleaning: 64945
Saved as 'cleaned_ev_charging_dataset.csv'

In [41]:
import os
print(os.getcwd())

C:\Users\dnayu\project energy